{% extends 'base.html.twig' %}

{% block title %}Panier index{% endblock %}

{% block body %}
    <h1>Panier</h1>

{% if paniers is not empty %}
    <table class="table">
        <thead>
            <tr>
                <td>{{'produit.title'|trans}}</td>
                <td>{{'table.quantity'|trans}}</td>
                <td>{{'table.price'|trans}}</td>
                <td>Total</td>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

        {% set total = 0 %}
        {% set totalProduit = 0 %}
        {% for contenu in paniers.contenuPaniers %}
            

                {% set totalProduit = contenu.quantity * contenu.produit.price %}
                {% set total = total + totalProduit %}
        
                <tr>
                    <td>{{contenu.produit.name}}</td>
                    <td>{{contenu.quantity}}</td>
                    <td>{{contenu.produit.price}} $</td>
                    <td>{{totalProduit}} $</td>
                    <td><a href="{{path('contenu_panier_delete', {id:contenu.id})}}" class="btn btn-danger">{{'Delete'|trans}}</a></td>

                </tr>
            {% endfor %}
                
            </tr>

        </tbody>
    </table>
    <p>{{'panier.productTotal'|trans}} {{total}} $</p>
    <a class="btn btn-primary" href="{{path('buy')}}">{{'table.buy'|trans}}</a>
{% else %}
<p>{{'panier.empty'|trans}}</p>
{% endif %}
{% endblock %}
