{% extends 'base.html.twig' %}

{% block title %}Hello CompteController!{% endblock %}

{% block body %}
<!--  -->
    <table class="table">
        <thead>
        <tr>
            <th>{{'Compte.name'|trans}}</th>
            <th>{{'Compte.lastname'|trans}}</th>
            <th>{{ 'Compte.email'| trans }}</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>
    <h2>Mes Commandes</h2>

    <table class="table">

        <thead>
        <tr>
            <th>{{'Compte.price'|trans}}</th>
            <th>{{'Compte.date'|trans}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{% set total = 0 %}
                {% set totalProduit = 0 %}
                {% for contenu in paniers.contenuPaniers %}
                    {% set totalProduit = contenu.quantity * contenu.produit.price %}
                    {% set total = total + totalProduit %}
                    {% set total = totalProduit  %}{% endfor %}{{total}}$</td>
            <td>{% for panier in paniers %}{{ panier.boughtAt | date("d/m/Y") }}{% endfor %}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
